@import './variables';
@font-face {
    font-family: inter;
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: DMSans;
    src: url('../fonts/DMSans-Regular.ttf');
}
body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 90%;
    font-family: $font-family;
    // overflow: hidden;
}

.first-paragraph{
    display: flex;
    
}

.kickstart{
    width: 635px;
    height: 264px;
    font-size: 64px;
    line-height: 88px;
    color: $text-color;
    font-weight: map-get($font-weights, big);
    font-style: $font-style;
    font-family: inter;
}

.register {
    width: 602px;
    height: 108px;
    color: $text-color;
    font-style: $font-style;
    font-family: inter;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 70px;
}

.btn-1 {
    background-color: $primary-color;
    color:#FFFFFF ;
    font-size: 24px;
    font-weight: map-get($font-weights , medium );
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    align-items: center;
    font-family: inter;

}
.blue-bg{
    position: absolute;
    width: 674px;
    height: 877px;
    left: 840.8px;
    top: -46.54px;
}

.glass-lady{
    position: absolute;
    width: 770px;
    height: 750px;
    left: 670px;
    top: 80px;
}

.card-details{
    font-size: 28px;
    font-weight: map-get($font-weights, big);
    font-family: inter;
}
.figures{
    font-size: 20px;
    font-weight: map-get($font-weights, bold );
    font-family: inter;
    line-height: 58px;
    height: 58px;
    gap: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 8px 16px 24px rgba(16, 16, 15, 0.05);
    border-radius: 10px;
    position: absolute;
    width: 1000px;
    height: 120px;
    left: 213px;
    top: 750px;
        
}
.brands{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 96px;
    height: 40px;
    width: 20px
}
.trending{
    font-weight: map-get($font-weights, regular);
    font-size: 24px;
    line-height: 36px;
    margin-top: 400px;
    font-family: poppins;
}
.container{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cards{
    background: #FBFBFB;
    box-shadow: 0px 5px 25px rgba(137, 113, 113, 0.25);
    border-radius: 8px;
    flex-direction: column;
    padding: 20px 20px 35px;
    gap: 24px;
}
.cards:hover{
    box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.25)
}
.btn{
    text-decoration: none;
    font-size: 24px;
    color: #FBFBFB;
    box-sizing: border-box;
    background-color: $primary-color;
    padding: 12px 20px;
    border: 1px solid #4285F4;
    border-radius: 7px;
    margin-bottom:15px ;
}
.star{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
.star-icon{
    width: 20px;
    height: 15px;
    margin-top: 20px;
}
.reviews{
    font-size: 16px;
    font-weight: map-get($font-weights, regular );
    font-family: poppins;
    
}
.money{
    font-size: 30px;
    font-weight: map-get($font-weights , big );
    font-family: poppins;

}
.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.more-courses{
    display: flex;
    justify-content: center;
    gap: 15px;
   
}
.arrow{
    font-size: 24px;
    font-weight: map-get($font-weights, regular );
    margin-top: 50px;
    font-family: DMSans;
}
.arrow-icon{
    width: 20px;
    height: 16px;
    margin-top: 57px;
}
.section-3{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
}
.why-edu{
    margin-top: -10px;
}
.edulearn{
    font-size: 48px;
    letter-spacing: 0.015em;
    line-height: 72px;
    font-family: poppins;
}
.reasons{
    display: flex;
}
.reason{
    font-weight: map-get($font-weights , big );
    font-size: 24px;
    line-height: 30px;
    font-family: poppins;
}
.whyEdu-icon{
    margin-top:15px;
}
.content{
    margin-left: 70px;
    margin-top: -30px;
    font-weight: map-get($font-weights, regular );
    font-size: 18px;
    line-height: 36px;
    font-family: DMSans;
}
.courses{
    font-family: poppins;
    font-weight: map-get($font-weights , big );
    font-size: 48px;
    line-height: 50px;
}
.browse{
    font-size: 24px;
    font-weight: map-get($font-weights , regular );
    font-family: DMSans;
    line-height: 5px;
    margin-bottom: 50px;
}
.courses-24{
    text-align: left;
    margin-top: 100px;
}
.card-details{
    font-family: poppins;
}
.courses-card{
    font-family: poppins;
    font-weight: map-get($font-weights , regular );
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: -10px;
}
// .shop-cart{
//     margin-left: 30px;
// }
.btn-cart {
    text-decoration: none;
    font-size: 24px;
    color: $primary-color;
    box-sizing: border-box;
    background-color: #FBFBFB;
    padding: 15px 100px ;
    border: 2px solid #4285F4;
    border-radius: 7px;
    font-weight: map-get($font-weights , medium);
    font-family: inter;

}
.section-5{
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
}
.aid-btn{
    background-color: $primary-color;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: map-get($font-weights , medium);
    border-radius: 5px;
    padding: 12px;
    text-decoration: none;
    align-items: center;
    font-family: inter;
}
.apply{
    font-size: 48px;
    font-weight: map-get($font-weights , big) ;
    font-family: poppins;
    margin-bottom: -10px;
}
.get{
    font-size: 24px;
    font-weight: map-get($font-weights ,regular);
    font-family: poppins;
    line-height: 36px;
    margin-bottom: 43px;
}